.isOpen{
  .acordeonHidden{
    display: table;
    width: 100%;
    height: auto;
  }
}

.acordeonHidden{
  display: none;
  overflow: hidden;
  height: 0px;
  -webkit-transition: height 10s; /* Safari */
  transition: height 10s;
}

.filtroContainer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 30px 0px;
  .filtroSides{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  .filtroSideForm{
    display: flex;
    justify-content: space-around;
    flex: 1;
  }
  .filtroSideButtons{
    margin-left: 30px;
  }
  label{
    color: $primaryBlue;
    font-size: 18px;
    text-align: left;
  }
  .filtroInput{
    display: flex;
    flex-direction: column;
    width: 24%;
    input{
      border: 2px solid $auxiliaryBlue;
      border-radius: 3px;
      font-size: 0.8rem;
      height: 30px;
      padding: 0 15px; 
      
      &:-webkit-autofill {
      box-shadow: 0 0 0 30px white inset;
      -webkit-box-shadow: 0 0 0 30px white inset;
      }
      &:focus {
        outline:0px;
      }
      &[readonly]{
        background-color: #efefef;
      }
    }
  }
}

.acordeonButtons{
  padding: 30px 10px;
  display: flex;
  text-align: center;
  justify-content: center;
}