.general-button {
  background: #F5F6FA;
  border: 2px solid #2A5EC9;
  color: #2A5EC9;
  height: 3rem;
  width: 10rem;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  &:hover {
    background: #2A5EC9;
    color: #F5F6FA
  }

  &.dangerButton{
    border: 2px solid #FB5862;
    color: #FB5862;
    &:hover{
      background: #FB5862;
      color: #F5F6FA;
    }
  }

  &.alertButton {
    border: 2px solid #dbbb02;
    color: #dbbb02;
    &:hover{
      background: #dbbb02;
      color: #F5F6FA;
    }
  }
}

.button{
  background: #F5F6FA;
  border: 2px solid #2A5EC9;
  color: #2A5EC9;
  cursor: pointer;
  &.dangerButton{
    border: 2px solid #FB5862;
    color: #FB5862;
    &:hover{
      background: #FB5862;
      color: #F5F6FA;
    }
  }
  &.alertButton{
    border: 2px solid #dbbb02;
    color: #dbbb02;
    &:hover{
      background: #dbbb02;
      color: #F5F6FA;
    }
  }
  &.doneButton{
    border: 2px solid $verde;
    color: $verde;
    &:hover{
      background: $verde;
      color: #F5F6FA;
    }
  }
}

.butonFill{
  color : #F5F6FA;
  background: #2A5EC9;
  cursor: pointer;
  &:hover {
    background: rgb(33,75,160);
  }
  &.dangerButton{
    background:  #FB5862;
    &:hover{
      background: rgb(182, 66, 74);
    }
  }

  &.alertButton{
    background:  #dbbb02;
    &:hover{
      background: #ebd247;
    }
  }
  &.doneButton{
    background: $verde;
    &:hover{
      background: #56E1B2;
    }
  }
}

.buttonCircle{
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.back-button {
  align-items: center;
  background: #F5F6FA;
  border: 2px solid $secondaryBlue;
  border-radius: 5px;
  color: $secondaryBlue;
  cursor: pointer;
  display: flex;
  // margin: 30px 0 50px 0;
  padding: 10px;
  .fa-angle-left {
    font-size: 0.9rem;
    margin-right: 10px;
  }
  div {
    font-size: 0.7rem;
  }
}

/* efecto de barrido de izq a der*/
.sweep-button {
  background: transparent;
  border: 1px solid #fff;
  align-self: flex-end;
  display: block;
  color: #fff;
  cursor: pointer;
  font-size: 15px;
  padding: 15px;
  text-transform: uppercase;
  width: 180px;
  cursor: pointer;
  transition: all linear 200ms; 
  &:hover{
    box-shadow: inset 180px 0 0 0 white;
    color: #2A5EC9;
    font-weight: bold;
  }
}

.sweep-notice {
  border: 1px solid #2A5EC9;
  align-self: center;  
  display: block;
  color: #2A5EC9;
  cursor: pointer;
  font-size: 15px;
  padding: 15px;
  text-transform: uppercase;
  width: 180px;
  cursor: pointer;
  transition: all linear 200ms; 
  &:hover{
    box-shadow: inset 180px 0 0 0 #2A5EC9;
    border: 1px solid transparent;
    color: whitesmoke;
    font-weight: bold;
  }
}

@media only screen and (max-width: 600px) {
  .general-button {
    height: 2.3rem;
    width: 6.5rem;
    font-size: 0.7rem;
  }
  .sweep-notice {
    background: #fff;
  }
}